Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@leo7medina 
leo7medina
/
test-angular
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
test-angular/app-testing/.gitignore
@leo7medina
leo7medina save changes
Latest commit be39c37 on Jan 19
 History
 1 contributor
42 lines (36 sloc)  544 Bytes
  
# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/server/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/.nyc_output
/spec/istanbul

# System Files
.DS_Store
Thumbs.db
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete